@using Microsoft.AspNetCore.Antiforgery
@using static MusicX.Common.GlobalConstants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
    <link rel="stylesheet" href="~/css/_Layout.css" />

    <link href="~/lib/animate/animate.min.css" rel="stylesheet" >
    <link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet" >
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" >
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet" >

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" >

    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    <header>
         
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand"><span>M</span>u<span>si</span>c<span>X</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto" id="navlinkscontainer1">
                        <a class="nav-item nav-link" id="home-navlink" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link" id="judges-navlink" asp-controller="Home" asp-action="Judges">Judges</a>
                        <a class="nav-item nav-link" id="dashboard-navlink" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        <a class="nav-item nav-link" id="contacts-navlink" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </div>
                </div>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto" id="navlinkscontainer2">                         
                        @if (User.Identity.IsAuthenticated)
                        {                            
                            if (User.IsInRole(AdministratorRoleName))
                            {                                
                                <a class="nav-item nav-link" id="admin-navlink" asp-controller="Home" asp-action="Admin">Admin panel</a>
                            }
                            else
                            {
                                <a class="nav-item nav-link" id="profile-navlink" asp-controller="Home" asp-action="Profile">Profile</a>                                
                            }
                                  
                            <form asp-page="/Account/Logout" asp-route-returnurl="@Url.Content("~/")" method="post" id="logout-link-form">
                                <a id="temp" class="nav-item nav-link" style="cursor: pointer" onclick="(function(){document.getElementById('logout-link-form').submit()})()">Logout</a>
                            </form>
                        }  
                        else
                        {                            
                            <a class="nav-item nav-link" id="register-navlink" asp-page="/Account/Register">Register</a>                        
                            <a class="nav-item nav-link" id="login-navlink" asp-page="/Account/Login">Login</a>
                        }                                              
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="page-header wow fadeInUp" id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Contact</a>
                    </div>
                </div>
            </div>    
            <div id="header-after"></div>
        </div>
    </header>
    
    <main role="main">
        @RenderBody()
    </main>
    
    <footer>
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        @*<a href="index.html" class="footer-logo">M<span>u</span>si<span>c</span>X</a>*@
                        <h3>123 Street, New York, USA</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>info@example.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a asp-controller="Home" asp-action="Index">Musical Competition</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://www.instagram.com/georgikerkelov/">qwest</a></p>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script> 
    <script src="https://kit.fontawesome.com/1faa30c684.js" crossorigin="anonymous"></script> 
    <script src="~/js/_Layout.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
