
.card {
    width: 50%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.card .profile-box {
        background-color: var(--main-color);
        text-align: center;
        padding: 40px 90px;
        color: #fff;
        position: relative;
        border-radius: 30px;
    }

.card .menu-icon {
        width: 25px;
        position: absolute;
        left: 40px;
        top: 40px;
    }

.card .setting-icon {
        width: 25px;
        position: absolute;
        right: 40px;
        top: 40px;
    }

.card .profile-pic {
        width: 150px;
        border-radius: 50%;
        background-color: white;
        margin-top: 40px;
        padding: 6px;
    }

.card .profile-bottom {
        background-color: #fff;
        color: #999;
        padding: 60px 0;
        margin-top: -10px;
        margin-right: -90px;
        margin-left: -90px;
        margin-bottom: -40px;
        border-radius: 30px;
    }

.card .profile-bottom img {
            width: 15px;
            margin-top: 15px;
            cursor: pointer;
        }

.card .profile-box a {
        background-color: #fff;
        color: var(--main-color);
        border: none;
        outline: none;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.7);
        padding: 15px 60px;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: -50px;
        font-weight: 600;
        font-size: 16px;
    }

.card .profile-box h3 {
        font-size: 22px;
        margin-top: 20px;
        font-weight: 500;
    }

.card .social-media img {
        width: 20px;
        margin: 30px 5px;
        cursor: pointer;
    }
