
.countdown-container {
    background-image: url("https://res.cloudinary.com/donhvedgr/image/upload/v1650116958/Let_s_start_again_seaside_desktop_wallpaper_2_ckn56q.png");
    background-position: center;
    background-size: cover;
    background-color: aqua;
    height: 100vh;
    max-width: 75vw;
    margin: auto;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    overflow: hidden;
}

.soon {    
    position: relative;
    top: 30%;
    max-width: 50%;    
    color: white;
    text-align:center;
    margin-left: 30px;
    font-family: 'Fira Sans', sans-serif;
}

.soon h1 {    
    letter-spacing: 15px;   
    word-wrap: break-word;
}

.soon .hr {
    width: 75%;
    height: 1px;
    margin: 30px auto;
    background-color: white;
}

.countdown-container p {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
}

#launch {
    font-size: 40px;
    word-spacing: 20px;
}
