@section Links {
    <link rel="stylesheet" href="~/css/Dashboard.css" />
}

@{
    ViewData["Title"] = "Dashboard";
}


<div class="card">
    <div class="profile-box">
        <img src="~/assets/menu.png" class="menu-icon"/>
        <img src="~/assets/setting.png" class="setting-icon"/>
        <img src="~/assets/profile-pic.png" class="profile-pic"/>
        <h3>Gosho Kerkelov</h3>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <div class="social-media">
            <img src="~/assets/instagram.png" alt="image">
            <img src="~/assets/telegram.png" alt="">
            <img src="~/assets/dribble.png" alt="">
        </div>
        <button type="button">See</button>
        <div class="profile-bottom">
            <p>Learn More About My Talent</p>
            <img src="assets/arrow.png">
        </div>
    </div> 
</div> 
  