@section Links {
    <link rel="stylesheet" href="~/css/Index.css" />
}

@{
    ViewData["Title"] = "Home";
}

<div class="countdown-container">
    <p>Your chance to win the most popular music competition is</p>
    <div class="soon">
        <h1>COMING SOON</h1>
        <div class="hr"></div>
        <p id="launch"></p>
        <div class="hr"></div>        
    </div>
</div>
@for (int i = 0; i < 20; i++)
{
    <div class="text-center">
        <h1 target-name="Template dev">Welcome</h1>

        <partial name="/PartialViews/_SamplePartialView.cshtml" />        

        <vc:sample name="almighty dev"></vc:sample>
    </div>
}
@section Scripts {
    <script src="~/js/countdown-container.js"></script>
}