@using Microsoft.AspNetCore.Identity
@using MusicX.Data.Models
@section Links {
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/Admin.css" />
}
@inject UserManager<ApplicationUser> userManager;
@{
    ViewData["Title"] = "Profile";
}

@{
    var currentUser = await userManager.FindByNameAsync(this.User.Identity.Name);
    
}

<img src="@currentUser.PictureUrl" class="center" id="profile-picture" />
<h3 class="center">Hi, @currentUser.Name</h3>


@if(currentUser.VotedToId != null){
    <h2>You have voted for: @((await userManager.FindByIdAsync(currentUser.VotedToId?.ToString())).Name)</h2>
}
else
{
    <h2>You have not yet voted!</h2>
}


@if (!currentUser.IsCompetitor)
{
    <h3>Become Competitor: </h3>

    <form class="competitor-edit" method="Post" asp-controller="Home" asp-action="BecomeCompetitor"> 
        <input type="text" name="Id" class="hidden" value="@currentUser.Id">
   
        <label for="Age">Age:</label>
        <input type="text" name="Age" placeholder="Enter Age">

        <label for="Description">Description:</label>
        <input type="text" name="Description" placeholder="Enter Description">

        <label for="PictureUrl">PictureUrl:</label>
        <input type="text" name="PictureUrl" placeholder="Enter PictureUrl">

        <label for="MusicalInstrument">MusicalInstrument:</label>
        <input type="text" name="MusicalInstrument" placeholder="Enter MusicalInstrument">

        <label for="VideoUrl">VideoUrl:</label>
        <input type="text" name="VideoUrl" placeholder="Enter VideoUrl">

        <div class="submit-container">
            <input type="submit" placeholder="Submit">
        </div>
    </form>    
}
